.courses {
  margin-top: 60px;
  .coursesTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #243a6f;
  }
  .coursesTitleSm {
    font-size: 40px;
    color: #243a6f;
  }
  .coursesTitleLg {
    font-size: 20px;
    width: 1000px;
  }
}
