.footer {
  padding: 70px 0;
  box-shadow: $box-shadow;
  font-size: 1.1rem;

  &__logo {
    height: 38px;
  }

  &__about {
    p {
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__content {
    p {
      margin-bottom: 1.25rem;
    }
  }
}
.btn-social {
  padding: 10px;
}
// .btn-social i .bx .bxl-facebook:hover {
//   background-color: #385898;
//   background-color: red;
// }
// .btn-social i .bx .bxl-twitter :hover {
//   color: rgb(29, 155, 240);
// }
// .btn-social i .bx .bxl-instagram :hover {
//   color: radial-gradient(
//     circle at 30% 107%,
//     #fdf497 0%,
//     #fdf497 5%,
//     #fd5949 45%,
//     #d6249f 60%,
//     #285aeb 90%
//   );
// }
// .btn-social i .bx .bxl-pinterest :hover {
//   color: #385898;
// }
